# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
# dist/  <-- KEEPING dist/ for version control as requested
# build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# C# / .NET
[Oo]bj/
[Bb]in/
.vs/
.vscode/
*.user
*.suo
*.userprefs

# Sensitive configuration files (API Keys)
**/appsettings.json
**/appsettings.*.json
# Force inclusion of publish folder (Explicit)
!publish/
!atcogenie-client/dist/

# OS
Thumbs.db
